<h1>"It's lonely at the top. Ninety-nine percent of people in the world are convinced they are incapable of achieving great things, so they aim for the mediocre. The level of competition is thus fiercest for 'realistic' goals, paradoxically making them the most time and energy-consuming."</h1>
<p>- Timothy Ferriss, The 4-Hour Workweek</p>