body {
	background-color: #ABBF0D;
}

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

h1 {
	font-size: 50px;
	font-family: Helvetica;
	color: #ffffff;
	text-align: left;
}

p{
	font-family: Helvetica;
	font-style: italic;
	color: #ffffff;
	text-align: left;
}

.links{
	position: fixed;
	bottom: 20px;
	left: 44%;
	top: 90%;
	display: inline-block;

}
input{
	width: 100%;
	border-radius: 5px;
	height: 30px;
	box-shadow: none;
}
 label{
 	color: #ffffff;
 	font-family: Helvetica;
 	margin-left: 10px;
 	font-size: 20px;
 }

.links a {
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
	font-family: Helvetica;
}
span a{
	text-transform: uppercase;
	color: #F6E82C;
	font-weight: bold;
}

a:hover{
	color: #CB7034;
}


/*MEDIA QUERIES*/

@media (max-width: 1500px) {
  h1 {
    font-size: 30px;
  }
}

